<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="APP" connectionString="workstation id=webForma.mssql.somee.com;packet size=4096;user id=zplantic1_SQLLogin_1;pwd=qdfb4ld45k;data source=webForma.mssql.somee.com;persist security info=False;initial catalog=webForma"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
  </system.web>
</configuration>